@use "../variables.scss" as *;

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;

    .container {
        position: sticky;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        height: 60px;

        .box {
            padding: 10px 30px;
            border-radius: 30px;
            width: 30vw;
            max-width: 500px;
            min-width: 350px;
            box-shadow: 0 0 10px rgba($shadow-color, 0.439);
            background: linear-gradient(45deg, $secondary-color 0%, $color-background-2, $color-background-3 70%, $color-background-4, $color-background-5);
            background-size: 200% 200%;
            background-position: 0% 0%;
            transition: 0.5s;

            .links {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                .link {
                    color: $font-color-light;
                    font-size: 0.8rem;
                    text-decoration: none;
                    transition: 0.3s;

                    &:hover {
                        color: $quinary-color;
                    }
                }
            }
        }

        .move__background {
            opacity: 0.5;
            background-position: 100% 200% !important;
            transition: 0.5s;
        
            &:hover {
                opacity: 1;
            }
        }
    }
}

@media (max-width: 768px) {
    .navbar {
        .container {
            .box {
                width: 80vw;
                min-width: 250px;

                .links {
                    .link {
                        font-size: 0.7rem;
                    }
                }
            }

            .move__background {
                opacity: 1;
            }
        }
    }
}