@use "../variables.scss" as *;

.contact {
    min-height: 300px;
    width: 100%;
    padding: 10vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: $font-color;

    .contact__title {
        font-size: 1.2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        text-align: center;
        background: linear-gradient(to right, $color-background-1, $color-background-2, $color-background-3, $color-background-4, $color-background-5);
        background-position: 150% 100%;
        background-size: 450% auto;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        width: 90vw;
        height: 100%;

        .animation {
            animation-name: move;
            animation-duration: .4s;
            animation-fill-mode: both;
            animation-delay: 1s;
        }

        .a1 {
            animation-delay: 1s;
        }

        .a2 {
            animation-delay: 1.1s;
        }

        .a3 {
            animation-delay: 1.2s;
        }

        .a4 {
            animation-delay: 1.3s;
        }

        .a5 {
            animation-delay: 1.4s;
        }

        .a6 {
            animation-delay: 1.5s;
        }

        .a7 {
            animation-delay: 1.6s;
        }

        .contact__title {
            font-size: 1rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        .left {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            min-width: 200px;
            max-width: 250px;
            gap: 1rem;

            li {
                margin-bottom: 1rem;
                font-size: 1rem;
                font-weight: 500;
                display: flex;
                align-items: center;
                gap: 1rem;

                .contact__icon {
                    font-size: 2rem;
                    color: $valid-color;
                }
            }
        }

        .right {
            padding: 2rem 0 2rem 5rem;
            height: fit-content;
            width: 35%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-left: 1px solid $font-color-light;

            .contact__form {
                height: 100%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 1.4rem;

                .contact__input {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    label {
                        font-size: 1rem;
                        font-weight: 500;
                        margin-bottom: .5rem;
                        letter-spacing: 2px;
                    }

                    input,
                    textarea {
                        padding: 10px 16px;
                        border: 2px solid $font-color-light;
                        border-radius: 4px;
                        outline: 0;
                        word-spacing: 1px;
                        letter-spacing: 1px;
                        transition: .2s;

                        &:focus {
                            border-color: $color-background-2;
                        }
                    }

                    textarea {
                        resize: none;
                        height: 200px;
                        transition: none;
                        font-family: 'Proxima Nova', sans-serif;
                    }
                }

                .contact__submit__button {
                    padding: 10px 16px;
                    border-radius: 4px;
                    border: none;
                    background: linear-gradient(65deg, $secondary-color 0%, $color-background-1 150%);
                    color: $font-color-light;
                    font-size: 1rem;
                    font-weight: 500;
                    box-shadow: 0 0 10px rgba($shadow-color, 0.2);
                    cursor: pointer;
                    transition: .3s;

                    &:hover {
                        box-shadow: 0 0 10px rgba($shadow-color, 1);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .contact {
        .container {
            .left {
                max-width: 450px;
                flex-wrap: wrap;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 1rem;
            }

            .right {
                padding: 0;
                width: 70vw;
                max-width: none;
                border-left: none;
                border-top: 1px solid $font-color-light;
                padding-top: 2rem;
                display: block;

                .contact__form {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    .contact__input {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@keyframes move {
    0% {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}