@use "../variables.scss" as *;

.experiences {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .container {
        width: 90vw;
        max-width: 1300px;
        padding: 2rem 0;
        margin-bottom: 2vh;

        .experiences__title {
            font-size: 2rem;
            font-weight: 700;
            letter-spacing: .15em;
            background-clip: text;
            background: linear-gradient(35deg, $color-background-1, $color-background-2, $color-background-3, $color-background-4, $color-background-5);
            background-size: 100% 100%;
            background-position: center;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        .experiences__description {
            font-size: 1.1rem;
            font-weight: 600;
            color: $font-color;
            border-left: rgb(126, 126, 126) 3px solid;
            margin-left: 0;
            padding: 0.5rem 0 0.5rem 0.8rem;
        }

        .experiences__body {
            color: $font-color;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            gap: 2.5rem;
            margin-top: 3rem;

            &__selects {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: baseline;
                gap: 1rem;

                &__title {
                    font-size: 1.1rem;
                    font-weight: 500;
                    letter-spacing: .15em;
                }

                &__buttons {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 1rem;

                    &__button {
                        font-size: 1rem;
                        font-weight: 600;
                        padding: 0.5rem 1rem;
                        border: 1px solid;
                        border-radius: 5px;
                        border-color: $color-background-4;
                        background-color: transparent;
                        color: $font-color-not-selected;
                        cursor: pointer;
                        transition: all 0.3s ease;

                        &.selected {
                            background-color: $color-background-5;
                            color: $font-color-light;
                        }

                        &:hover {
                            background-color: $color-background-3;
                        }
                    }
                }
            }

            &__selected__experience {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                &__title {
                    font-size: 1.5rem;
                    font-weight: 600;
                    letter-spacing: .15em;
                    background-clip: text;
                    background: linear-gradient(35deg, $color-background-1, $color-background-2, $color-background-3, $color-background-4, $color-background-5);
                    background-size: 360% 250%;
                    background-position: center;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                &__description {
                    font-size: 0.9rem;
                    color: $font-color;
                    border-left: rgb(126, 126, 126) 1px solid;
                    margin-left: 0;
                    padding: 0.5rem 0 0.5rem 0.8rem;
                }

                &__list__tasks {
                    padding-left: 50px;

                    &__task {
                        &:nth-child(odd):before {
                            border-color: $quaternary-color;
                        }

                        &:nth-child(even):before {
                            border-color: $secondary-color;
                        }

                        padding-left: 16px;
                        margin-top: 24px;
                        position: relative;
                        font-size: 16px;
                        line-height: 20px;
                        margin-bottom: 3rem;

                        &:before {
                            content: '';
                            display: block;
                            height: 42px;
                            width: 42px;
                            border-radius: 50%;
                            border: 2px solid white;
                            position: absolute;
                            top: -13px;
                            left: -46px;
                        }
                    }
                }
            }
        }
    }
}