@use "./variables.scss" as *;

@font-face {
    font-family: 'Proxima Nova';
    src: url(../assets/fonts/Proxima_Nova/Proxima_Nova.otf) format('truetype');
}

@font-face {
    font-family: 'Kusanagi';
    src: url(../assets/fonts/Kusanagi/Kusanagi.otf) format('truetype');
}

@font-face {
    font-family: 'Courier Prime';
    src: url(../assets/fonts/Courier_Prime/CourierPrime-Regular.ttf) format('ttf');
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: linear-gradient(
        to bottom,
        $primary-color 0%,
        $background-color 60%,
        $background-color-2 100%
    );
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    //font-family: 'Courier', sans-serif;
    //font-family: 'Kusanagi', sans-serif;
    //font-family: 'Proxima Nova', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

* {
    scrollbar-width: thin;
    scrollbar-color: transparent;
}

::selection {
    background: $color-background-3;
    -webkit-text-fill-color:$font-color-light
}