$primary-color: #161925;
$secondary-color: #23395b;
$tertiary-color: #406e8e;
$quaternary-color: #8ea8c3;
$quinary-color: #cbf7ed;

$background-color: #222222;
$font-color: #bbbdc6;
$font-color-not-selected: #818288;
$font-color-light: #ececec;
$shadow-color: #000000;
$valid-color: #15de15;

// $color-background-1: #2b2d42;
// $color-background-2: #8d99ae;
// $color-background-3: #edf2f4;
// $color-background-4: #ef233c;
// $color-background-5: #d90429;

$color-background-1: #09f1b8;
$color-background-2: #00a2ff;
$color-background-3: #ff0055;
$color-background-4: #ef233c;
$color-background-5: #d90429;