* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
  font-family: Inter, sans-serif;
  background: #f9fbf2;
  color: #0e1c36;
}

main {
  overflow-x: hidden;
}

.section {
  min-height: 100vh;
  padding: 6rem 2rem;
  max-width: 1100px;
  margin: 0 auto;
}